/* ---------- DEFAULTS ---------- */
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}
div.wrap {
	width: 1240px;
	margin: 0 auto;
}
/* ---------- BODY - BG ---------- */
img#body_bg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
@media screen and (max-width: 1024px) {
	img#body_bg {
		left: 50%;
		margin-left: -512px;
	}
}
/* ---------- HEADER ---------- */
header {
	width: 100%;
	height: 92px;
}
header div.web_title {
	float: left;
	color: #ffffff;
	margin: 21px 0 0 15px;
	text-align: center;
	font-size: 0.7em;
}
header img.logo {
	width: 115px;
}
/* ---------- CONTENT ---------- */
div.content {
	width: 1200px;
	padding: 20px;
	margin: 20px auto 0 auto;
	background: #ffffff;
	border: 1px solid #07a0ee;
}
div.content::after {
	content: " ";
	display: table;
	clear: both;
}
div.content div.left {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
}
div.content div.left ul {
	margin: 0;
	padding: 0;
}
div.content div.right {
	float: right;
	width: 72.5%;
	margin: 0 0 0 2.5%;
}